วิธีเปิดใช้งานการยืนยันแบบ 2 ขั้นตอน (2-step Verification):

1. ลงชื่อเข้าใช้ [Google Account](https://myaccount.google.com/){:target=_blank .external-link} ของคุณ
2. เลือก **Security** จากแถบนำทางด้านซ้าย
3. ใต้หัวข้อ **How you sign in to Google** เลือก **2-Step Verification**
    - หากเปิดใช้งาน 2-Step Verification อยู่แล้ว ให้ข้ามไปที่ส่วนถัดไป
4. เลือก **Get started**
5. ทำตามขั้นตอนบนหน้าจอเพื่อกำหนดค่า 2-Step Verification

โปรดดูข้อมูลเพิ่มเติมที่ [Turn on 2-step Verification](https://support.google.com/accounts/answer/185839){:target=_blank .external-link}

หากคุณไม่สามารถเปิดใช้งาน 2-step Verification ได้ โปรดตรวจสอบกับผู้ดูแลระบบอีเมลของคุณ
